modules = ["python-3.12", "web", "nodejs-20"]
run = "node index.js"

[nix]
channel = "stable-25_05"
packages = ["glibcLocales"]

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run Web App"

[[workflows.workflow]]
name = "Run Web App"
author = 45524270
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"

[[ports]]
localPort = 5000
externalPort = 80
